body {
    max-width: 1000px;
    margin: 0px auto;
    background: white;
}

@media(min-width: 1000px) {
    html {
        background: #f0f2f5;
    }

    body {
        margin-top: 50px;
        box-shadow: 0px 0px 20px #00000017;
        border-radius: 5px;
    }
}

.rooms > .room > .title {
    font-size: 24px;
}

.rooms > .room > .subtitle {
    font-size: 18px;
}

.item-list > .item {
    padding: 10px;
    border-radius: 3px;
    display: block;
    height: auto;
    text-align: left;
}

.item-list > .item:not(:last-child) {
    margin-bottom: 10px;
}

.input {
    box-shadow: none;
}

.centered-items {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}

.top .logo {
    margin: 0px 20px;
}

.room > .level > .level-item > .router-link-exact-active .fa {
    color: #43c3ff;
}

.level.inline-level {
    margin-bottom: 0px;
}

.level.inline-level > .level-item {
    margin-right: 0px !important;
}

.level.inline-level .button {
    border-radius: 0px;
}

.section {
    padding: 1.5rem;
}

@media(max-width: 768px) {
    .section {
        padding: 1rem;
    }

    .top {
        margin: 0px;
    }

    .top + hr {
        margin: 0px auto;
    }

    .top .centered-items {
        justify-content: left;
        margin: 10px auto 5px auto;
    }

    .top .logo {
        max-width: 50px;
    }

    .title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 18px;
    }

    .columns:not(.is-mobile) {
        margin-bottom: 0px;
    }

}

.game-list .game-item:not(:last-child) {
    margin-bottom: 0px;
}

.game-list .game-item .game-stats > .icon + span {
    margin-left: -0.2em;
    margin-right: 0.5em;
}

.game-list .game-item .game-stats > span {
    font-style: italic;
    font-size: 0.9em;
    color: #778399;
}

.clickable {
    cursor: pointer;
}

.game-item.item .vote-icons .icon {
    color: gray;
}

.game-item.item [data-vote="up"] .icon {
    color:#217aff
}
.game-item.item [data-vote="down"] .icon {
    color:#f57171
}

.game-item.item:not(.upvoted) .vote-icons [data-vote="up"] .icon,
.game-item.item:not(.downvoted) .vote-icons [data-vote="down"] .icon
{
    color: #e8e8e8;
}

.game-item .vote-icons [data-vote]
{
    border-radius: 100%;
}
.game-item .vote-icons [data-vote]:hover
{
    background: whitesmoke;
}

.game-item > .columns {
    margin-bottom: 0px;
}

label {
    font-weight: 500;
}

.is-light-blue {
    background: #f2f7fb;
}

.button.is-light-blue {
    border: none;
}

hr {
    background-color: #bed2d9;
}

input[type=checkbox] {
    transform: scale(1.25);
}

.attendance > .columns {
    margin-bottom: 5px;
}

.reorder-list-move {
    transition: transform 0.3s;
}

.is-collapsible {
    transition: all 0.5s;
}
.is-collapsed {
    max-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.slide-enter-active {
    transition: all .5s;
}
.slide-leave-active {
    transition: all .5s;
}
.slide-enter, .slide-leave-to {
    max-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.button .subtitle {
    white-space: normal;
}

.history-item-comments {
    font-style: italic;
    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top: 10px;
}

.attendance,
.winners
{
    padding: 10px 10px 0 10px;
    background: #f8fafb;
    border-radius: 5px;
}

.attendance .clickable > .icon,
.winners .clickable > .icon
{
    background: white none repeat scroll 0% 0%;
    border: 1px solid #dddcdc;
    border-radius: 5px;
    width: 1.6rem;
    height: 1.6rem;
}

.tool-list .tool {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.tool-list .tool:not(:last-of-type) {
    border-bottom: 1px solid whitesmoke;
}

.dice-summary {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.dice-summary .dice {
    flex: 1 0;
    min-width: 120px;
    text-align: center;
    font-weight: 600px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
}

.dice-summary .dice {
    background: #ffae66;
}
.dice-summary .dice.roll-regular {
    background: linear-gradient(295deg, #ffae66 50%, rgb(255, 216, 166) 50%);
}
.dice-summary .dice.roll-critical-failure {
    background: linear-gradient(295deg, #ffae66 50%, rgb(255, 131, 131) 50%);
}
.dice-summary .dice.roll-critical-success {
    background: linear-gradient(295deg, #ffae66 50%, rgb(216, 237, 69) 50%);
}

.dice-summary .dice .sides,
.dice-summary .dice .count
{
    font-size: 24px;
}

.dice-summary .dice > *
{
    flex: 1
}

.tool > .input {
    margin-bottom: 10px;
}

.roll-result {
    font-size: 24px;
    font-weight: bolder;
    margin-right: 15px;
}

.button.is-fullwidth {
    white-space: unset;
    height: auto;
}

.cooldown-bar {
    display: flex;
    flex-wrap: wrap;
}

.cooldown-bar > .cooldown-slot {
    margin: 2px;
}

.cooldown-slot {
    flex: 0 0 50px;
    height: 50px;
    padding: 5px;
    border: 1px solid silver;
    cursor: pointer;
}

.cooldown-slot .cooldown-status
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cooldown-slot .cooldown-status .index-hint {
    font-size: 20px;
    color: silver;
}

.cooldown-slot .cooldown-status.active .index-hint {
    color: #952a00;
}

.cooldown-slot .cooldown-status {
    height: 100%;
}

.cooldown-slot .cooldown-status.active {
    background-color: #ff7800;
}

.cooldown-name {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}